.badge {
    padding: var(--spacing-3xs) var(--spacing-md);
    border-radius: var(--radius-xl);
    display: inline-flex;
    gap:var(--spacing-3xs);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--black-opacity-60);

    & svg {
        width: 16px;
        height: 16px;
        color:var(--bg-color);
    }

    & span {
        text-align: center;
        font-size:var(--font-size-xs);
        white-space: pre-wrap;
        color:var(--bg-color);
        text-transform: capitalize;
        font-weight: 300;
    }
}

@media (min-width: 768px) {
    .badge {
        & svg {
            width: 20px;
            height: 20px;
        }
    
        & span {         
            font-size:var(--font-size-sm);
        }
    }
}

